.center {
  display: inline-table;
}
.border {
  border: 1px solid black;
}
.table-size {
  padding: 30px;
}

.text-red {
  color: red;
}

.error {
  border-color: red;
  background-color: bisque;
}
