<div style="text-align:center">
    <div style="width: 100%; height: 40px; background-color:black;color: white">    
            <div style="float: left; font-size: 20px">
                {{ title }}
            </div>
        <div *ngIf="loginInfo.name === ''" style="float: right;">
            <span *ngIf="loginInfo.name === ''">ログインしていません</span>
            <button *ngIf="loginInfo.name === ''" (click)="moveLoginPanel()">ログイン</button>
        </div>
        <div *ngIf="loginInfo.name !== ''" style="float: right">
            <span *ngIf="loginInfo">{{loginInfo.name}}</span>
            <button *ngIf="loginInfo.name !== ''" (click)="logout()">ログアウト</button>
        </div>
    </div>
    <div>
        <ul style="display: inline-block">
            <li>
            <a routerLink="/myApp/registration" routerLinkActive="current"
            [routerLinkActiveOptions]="{ exact: true }">会員登録画面</a>
            </li>
            <li>
            <a routerLink="/myApp/member" routerLinkActive="current">会員確認画面</a>
            </li>
            <li>
            <a routerLink="/myApp/chart" routerLinkActive="current">チャート</a>
            </li>

            <!-- <li>
            <a routerLink="/404">エラー画面</a>  
            </li> -->
        </ul>
    </div>
</div>
<hr>
<div [ngSwitch]="currentUrl(_location.path())">
    <div *ngSwitchDefault>
        <app-main></app-main>
    </div>
    <div *ngSwitchCase="'registration'">
        <app-main></app-main>
    </div>
    <div *ngSwitchCase="'member'">
        <app-member-infomation></app-member-infomation>
    </div>
    <div *ngSwitchCase="'chart'">
        <app-chart></app-chart>
    </div>
    <!-- <ng-template [ngSwitchCase]="'chart'">
        <app-chart></app-chart>
    </ng-template> -->
</div>
<!-- 
<app-main *ngIf="currentPath === 'registration'">
</app-main>

<app-member-infomation *ngIf="currentPath === 'member'"></app-member-infomation> -->

